<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>PC Login</title>
    <script th:src="@{/js/findPass.js}"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<div layout:fragment="content">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <div class="card-3d-wrap mx-auto" style="height:600px;">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <form action="/member/findPass" method="post" id="findPassForm">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                                <h4 class="mb-3 pb-4">비밀번호 찾기</h4>
                                                <div class="form-group">
                                                    <input type="text" name="email" class="form-style" placeholder="Your Email " autocomplete="off">
                                                    <button type="button" class="findPassBtn btn checkBtn">이메일 인증</button>
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <input type="text" name="emailCode" class="form-style" placeholder="인증코드" autocomplete="off" maxlength="6">
                                                    <button type="button" class="findPassCheckBtn btn checkBtn">인증 확인</button>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script th:inline="javascript" layout:fragment="script">
</script>
</html>